@font-face {
    font-family: "Blazed";
    src : url("Blazed.ttf");
}

/* COMMUN */

body {
    font-family: 'Annie Use Your Telescope', cursive;
    /*background-color: #CDDE47; */
    background-image: url("images/arc_en_ciel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.clear {
    clear: both;
}
h1 {
    font-family: 'Blazed', cursive;
    text-align: center;
    color: #FF0000;
    font-size: 7em;
    text-shadow: #000000 10px 10px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
h2 {
    text-align: center;
    font-size: 4em;
    color: #4cff00;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
h3 {
    font-family: 'Blazed', cursive;
    text-align: center;
    color: #FF0000;
    font-size: 4em;
    text-shadow: #000000 10px 10px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
a {
  color: #4cff00;  
}
#lien {
    text-align: center;
    font-size : 8em;
    margin: 0.3em;
    color: #4cff00;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.lien1 {
    font-size: 5em;
    margin: 0.3em;
    color: #4cff00;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.right {
    float: right;
}
.lienMap {
    text-align: center;
}

#slogan_home {
    text-align: center;
    font-size: 4em;
}
.slogan {
    text-align: center;
    font-size: 3em;
}
select {
      font-size: 0.5em;
}
  
/* FORMULAIRE */

form {
    text-align: center;
    font-size: 3em;
}
input {
    font-size: 0.5em;
}
.button_connexion {
    background-color: #FF73BF;
    font-size: 0.5em;
    border-radius: 25px;
}
.button_reset {
    background-color: #E1E6FA;
    font-size: 0.5em;
    border-radius: 25px;
}

/* IMAGES HOME PAGE*/

#img {
    margin: 0 100px;
}
#img_voit,#img_scoot, #img_velo {
    position: absolute;    
}
marquee {
    position: absolute;
}
#img_voit {
    margin-left: 80%;
}
#img_velo {
    margin-left: 10%
}
#img_scoot {
    margin-top: -5%;
    margin-left: -3%;               
}

/* MAP */

#map {
    margin: 3em;
}
.lien_map {
    color: black;   
}