body {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: #CDDE47;  
}

.clear {
    clear: both;
}
h1 {
    font-family: 'Faster One', cursive;
    text-align: center;
    color: #FF73BF;
    font-size: 5em;
}
h2 {
    text-align: center;
    font-size: 4em;
}
#lien {
    text-align: center;
    font-size : 8em;
    margin: 0.3em;
}
.lien1 {
    font-size: 5em;
    margin: 0.3em;
}
.inscription {
    float: right;
}
form {
    text-align: center;
    font-size: 3em;
}
input {
    font-size: 0.5em;
}
img {
    margin: 0.7em;
}
.button_connexion {
    background-color: #FF73BF;
    font-size: 0.5em;
    border-radius: 25px;
}
.button_reset {
    background-color: #E1E6FA;
    font-size: 0.5em;
    border-radius: 25px;
}
#map {
    margin: 3em;
}
#slogan_home {
    text-align: center;
    font-size: 4em;
}
.slogan {
    text-align: center;
    font-size: 2em;
}
select {
    font-size: 0.5em;
}